/* CSS RESET */
*,
*::after,
*::before{
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,h1,h2,h3,h4,p{
    margin: 0;
}

h1, h2,
h3, h4 {
  text-wrap: pretty;
}

ul,ol{
    margin: 0;
    padding: 0;
}

p {
    text-wrap: pretty;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* CSS Variable */
:root{
    /* Colors */
    --clr--white: hsl(0, 0%, 100%);
    --clr--s100: hsl(30, 54%, 90%);
    --clr--s150: hsl(30, 18%, 87%);
    --clr--s600: hsl(30, 10%, 34%);
    --clr--s900: hsl(24, 5%, 18%);
    --clr--brown: hsl(14, 45%, 36%);
    --clr--r800: hsl(332, 51%, 32%);
    --clr--r50: hsl(330, 100%, 98%);

    /* Font */
    --ff-outfit: 'Outfit', sans-serif;
    --ff-young-serif: 'Young Serif', serif;
}

/* UTILITIES */
p{
    color: var(--clr--s600);
}
.flow>*+*{
    margin-top: .8rem;
}

.section-title{
    color: var(--clr--brown);
    margin-bottom: 1.5rem;
}

.preparation-list-item::marker{
    color: var(--clr--r800)
}

.ingredients-list-item::marker,
.instructions-list-item::marker{
    color: var(--clr--brown);
    font-weight: 600;
}

.preparation-list-item,
.ingredients-list-item,
.instructions-list-item{
    padding-left: 1rem;
}
/* Style */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr--s100);
    min-height: 100svh;
    font-family: var(--ff-outfit);
    line-height: 1.5;
}
main{
    max-width: 40rem;
}
.recipe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr--white);
}
.main-content{
    padding: 2rem;
}
.main-content>*+*{
    margin-top: 1.5rem;
}
@media screen and (min-width: 50rem) {
    .recipe-container {
        border-radius: 16px;
        padding: 2rem;
        margin: 6rem 0;
    }
    .image-wrapper {
        border-radius: 16px;
        overflow: hidden;
    }
    .main-content{
        padding: 0;
        padding-top: 2rem;
    }
}
.main-title {
    color: var(--clr--s900);
    font-family: var(--ff-young-serif);
    font-weight: 500;
    margin-block-end: 1rem;
}

.preparation {
    background-color: var(--clr--r50);
    padding: 2rem;
}
.preparation-title{
    color: var(--clr--r800);
}
.preparation-list{
    margin-top: 1rem;
    padding: 0 1.5rem;
}
.preparation-list-item-title,
.instructions-list-item-title{
    color: var(--clr--s600);
    font-weight: 700;
}
.ingredient-list,
.instruction-list{
    padding: 0 1.5rem;
}
.section-title{
    font-family: var(--ff-young-serif);
    font-weight: 400;
}
.nutrition-table{
    margin-top: 1rem;
    width: 100%;
}
.nutrition-table-row td{
    padding: .8rem;
    border-bottom: 1px solid var(--clr--s150);
}

.nutrition-table-row:last-child td{
    border-bottom: none;
}

.nutrition-table-row-value{
    color: var(--clr--brown);
    font-weight: 700;
}

.instructions::after,
.ingredient::after{
    content: ' ';
    display: block;
    height: 1px;
    background-color: var(--clr--s150);
    margin-top: 2rem;
}